footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

footer {
    ul {
        display: flex;
        width: 85%;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $hover-item-nav;
        padding: 0 0 15px 0;
    }
}

.footer-item {
    font-family: $page-font;
    list-style: none;
    a:visited,
    a:hover,
    a:link {
        color: $secondary-color
    }
}

.icon-arrow {
        visibility: hidden;
        transform: translate(-150px,45px);
}

