nav {
    width: 100%;
}

nav {
    .ul-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
        /* justify-content: space-between;*/
    }

    li {
        color: $secondary-color;
        font-family: $page-font;
        /* Agregado */
        margin: 0 30px;
    }

    p {
        visibility: hidden;
    }
}

.hover-nav {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: $third-color;
    /* Editado, anterior: auto.*/
    width: 80px;
    position: absolute;
    background-color: $hover-item-nav;
    transform: translateX(-30px);
    list-style: none;
    z-index: 1;
}

.sub-item-platos {
    padding: 5px 0;
    /* Anterior: transform: translateX()*/
    transform: translateX(-40px);
}

.nav-item {
    a {
        position: relative;
    }

    a:visited {
        color: $secondary-color;
    }

    
}

.nav-item:hover .hover-nav {
    visibility: visible;
}

.ul-nav {
    p {
    visibility: hidden;
    }
}