<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receta</title>
    <link rel="stylesheet" href="styles/css/main.css">
</head>
<body>
    <div class="pagecontainer">
        <h1 class="title">Mi Blog de Cocina</h1>
        <nav class="menu">
            <div>HOME</div>
            <div>PLATOS</div>
            <div>SOBRE MI</div>
            <div>CONTACTO</div>
        </nav>
    </div>
    <footer class="media">
        <div>Facebook</div>
        <div>Twitter</div>
        <div>Google +</div>
        <div>Linkedin</div>
        <div>Instagram</div>
        <div>Youtube</div>
    </footer>
</body>
</html>