nav {
    width: 100%;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
    }

    li {
        color: $secondary-color;
        font-family: $page-font;
    }
}

.hover-nav {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: $third-color;
    width: auto;
    position: absolute;
    background-color: $hover-item-nav;
    transform: translateX(-30px);
}

.sub-item-platos {
    padding: 5px 0;
    transform: translateX(-15px);
}

.nav-item {
    a {
        position: relative;
    }

    a:visited {
        color: $secondary-color;
    }
}

.nav-item:hover .hover-nav {
    visibility: visible;
}