/*colores*/
<<<<<<< HEAD
$title-color: #ffa500;
=======
$title-color: #ff6600;
>>>>>>> origin/recetas
$main-color:#000000;
$secondary-color:#808080;
$third-color:#ffffff;
$hover-item-nav: #dddddd;


/*colores de fondo*/
$hover-background-color: #f85726;
$button-background-color: #ffc0cb;
<<<<<<< HEAD
$white-background-color: #ffffff;
=======
$white-background-color:#ffffff;
>>>>>>> origin/recetas


/*tipografias*/
$title-font: 'Indie Flower', cursive;
$page-font: 'IBM Plex Mono', monospace;