/*colores*/
$title-color: #ff6600;
$main-color:#000000;
$secondary-color:#808080;
$third-color:#ffffff;
$hover-item-nav: #dddddd;


/*colores de fondo*/
$hover-background-color: #f85726;
$button-background-color: #ffc0cb;
$white-background-color:#ffffff;


/*tipografias*/
$title-font: 'Indie Flower', cursive;
$page-font: 'IBM Plex Mono', monospace;