@charset "UTF-8";
/*colores*/
/*colores de fondo*/
/*tipografias*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: orange;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}

nav {
  width: 100%;
}

nav .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  /* justify-content: space-between;*/
}

nav li {
  color: #808080;
  font-family: "IBM Plex Mono", monospace;
  /* Agregado */
  margin: 0 30px;
}

nav p {
  visibility: hidden;
}

.hover-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  background-color: #ffffff;
  /* Editado, anterior: auto.*/
  width: 80px;
  position: absolute;
  background-color: #dddddd;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  list-style: none;
  z-index: 1;
}

.sub-item-platos {
  padding: 5px 0;
  /* Anterior: transform: translateX()*/
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.nav-item a {
  position: relative;
}

.nav-item a:visited {
  color: #808080;
}

.nav-item:hover .hover-nav {
  visibility: visible;
}

.ul-nav p {
  visibility: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "IBM Plex Mono", monospace;
}

main img {
  border-radius: 30px;
}

#home a {
  text-decoration: none;
}

.main-container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img {
  width: 98%;
  margin: 0 10px;
}

.main-img:nth-of-type(1) {
  margin-left: 0px;
}

.main-img:nth-of-type(4) {
  margin-right: -12px;
}

.container-img {
  position: relative;
  overflow: hidden;
  margin: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98%;
}

.hover-main-img {
  position: absolute;
  width: 98%;
  height: 150px;
  background-color: #f85726;
  bottom: -100px;
  opacity: 0.6;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  visibility: hidden;
}

.container-img:hover .hover-main-img {
  visibility: visible;
  bottom: 0px;
}

.hover-main-img p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
}

/*
------------------------------------
        TAGS CONTAINER IMG
------------------------------------
*/
.tags-container-img img {
  width: 90%;
}

.tags-img {
  width: 100%;
  position: relative;
}

.tags-container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.tags-img p {
  position: absolute;
  background-color: #ffffff;
  width: 150px;
  height: 30px;
  border-radius: 25px;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.tags-img:nth-of-type(3) p {
  background-color: #f85726;
}

/*
-------------------------------------
        POSTS PRINCIPALES
-------------------------------------
*/
.main-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

.posts img {
  width: 300px;
  margin: 10px 0;
  margin-right: 30px;
}

.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*
------------------------------------
    Contenido dentro de los posts
------------------------------------
*/
.date {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 13px;
  font-weight: bold;
  color: #808080;
}

.date span:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.post-content h3 {
  -webkit-transform: translate(20px, -30px);
          transform: translate(20px, -30px);
  font-size: 25px;
}

.post-text {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  color: #808080;
}

.read-more {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  background-color: #ffc0cb;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 20px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.read-more:visited,
.read-more:hover,
.read-more:link {
  color: #000000;
}

/*
 VIDEO
*/
.main-posts iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  height: 390px;
}

.video-text {
  font-size: 12px;
  color: #808080;
  margin-bottom: 50px;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

aside h4 {
  background-color: #ffc0cb;
  color: #000000;
  text-align: center;
  height: 35px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  padding: 0 0 15px 0;
}

.footer-item {
  font-family: "IBM Plex Mono", monospace;
  list-style: none;
}

.footer-item a:visited,
.footer-item a:hover,
.footer-item a:link {
  color: #808080;
}

.icon-arrow {
  visibility: hidden;
  -webkit-transform: translate(-150px, 45px);
          transform: translate(-150px, 45px);
}

@media screen and (max-width: 350px) {
  body {
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
  }
  /* NAV */
  #home nav {
    width: 95%;
    background-color: #f85726;
    height: 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
  }
  nav .ul-nav {
    position: absolute;
    background-color: #f85726;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
    left: 85px;
    top: 23px;
  }
  nav p {
    visibility: visible;
  }
  .text-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
    position: absolute;
    left: 120px;
    top: -6px;
    z-index: 1;
    font-family: "IBM Plex Mono", monospace;
  }
  .ul-nav {
    visibility: hidden;
  }
  .hover-nav {
    display: none;
  }
  /* AGREGADO saqué margin */
  .nav-item {
    margin: 0;
  }
  /* NAV HOVER */
  nav:hover .ul-nav {
    visibility: visible;
  }
  /* CONTAINER IMG */
  .container-img:nth-of-type(2),
  .container-img:nth-of-type(3),
  .container-img:nth-of-type(4) {
    display: none;
  }
  .container-img {
    width: 100%;
    z-index: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
  }
  .hover-main-img {
    display: none;
  }
  /*
     TAGS CONTAINER
    */
  .tags-container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 200px;
  }
  .tags-img {
    margin: 20px 0;
  }
  .tags-img img {
    width: 300px;
  }
  .tags-img p {
    width: 100px;
    visibility: visible;
  }
  .tags-img:nth-of-type(3) p {
    background-color: transparent;
    margin-top: 90px;
  }
  .video {
    display: none;
  }
  .post-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .posts img {
    display: none;
  }
  .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
  }
  .post-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .main-posts .posts:nth-last-of-type(2) {
    display: none;
  }
  .main-img {
    margin: 0;
  }
  .date {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .date-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    width: 50%;
  }
  .date-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    width: 50%;
  }
  /* ASIDE */
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  aside p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  /* FOOTER */
  .social-media-item {
    display: none;
  }
  .icon-arrow {
    visibility: visible;
  }
  .icon-arrow i {
    color: #ffa500;
  }
}
/*# sourceMappingURL=main.css.map */